#include "afxres.h"

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2025,10,21,22
 PRODUCTVERSION 2025,10,21,22
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "Comments", "ffmpeg.exe"
            VALUE "CompanyName", "ApowerSoft Ltd."
            VALUE "FileDescription", "ffmpeg.exe"
            VALUE "InternalName", "ffmpeg.exe"
            VALUE "LegalCopyright", "Copyright  ApowerSoft Ltd."
            VALUE "OriginalFilename", "ffmpeg.exe"
            VALUE "ProductName", "ffmpeg.exe"
            VALUE "ProductVersion", "2025,3,25,9"
            VALUE "SpecialBuild", "MSVC 2022"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
